div
  label(for="title") Title:
  input(type="text", name="title" value=book.title)
div
  label(for="author") Author:
  input(type="text", name="author" value=book.author)
div
  label(for="genre") Genre:
  textarea(name="genre")= book.genre
div
  label(for="year") Year:
  textarea(name="year")= book.year
